body {
	margin: 0;
	padding: 0;
}

#wrapper {
	margin: 0 auto;
	padding: 5px;

	font-family: Arial;
}

#wrapper img {
	max-width: 100%;
}

#content {
	margin: 0 auto;
	width: 1120px;
}

#content-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	max-width: 1120px;
}

/* ---------------------- Header -----------------------------*/
.header__btn {
	position: absolute;
	top: 20px;
	right: 40px;
	display: block;
	padding: 10px;
	min-width: 100px;
	min-height: 10px;
	border-radius: 3px;
	background: -o-linear-gradient(bottom, rgba(95,173,126,1) 0%, rgba(31,255,160,1) 100%);
	background:    -webkit-gradient(linear, left bottom, left top, from(rgba(95,173,126,1)), to(rgba(31,255,160,1)));
	background:    linear-gradient(0deg, rgba(95,173,126,1) 0%, rgba(31,255,160,1) 100%);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	        box-shadow: 0 2px 3px rgba(0,0,0,.2);
	text-decoration: none;

	font-weight: bold;
	font-size: 15px;
	text-shadow: 0 1px 2px #777;
}
.header-logo {
	position: absolute;
	top: 15px;
	left: 15px;
	display: block;
	padding: 20px;
	border-radius: 15px 0 15px 0;
	background: rgba(255, 255, 255, .4);
	-webkit-box-shadow: 5px 8px 8px rgba(0,0,0,.4);
	        box-shadow: 2px 3px 6px 2px rgba(0,0,0,.4);
}
.header-logo__img {
	display: block;
	width: 200px;
	height: auto;
}

#header {
	position: relative;
	overflow: hidden;
	width: 1120px;
	height: 204px;
	border-radius: 15px 15px 0 0;
	background-color: grey;
}
#header:before {
	z-index: -1;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, .4);
	content: '';
}
@media all and (max-width: 1100px) {
	#header {
		width: 100%;
		height: 194px;
	}
	.header-logo__img {
		display: block;
		width: 200px;
		height: auto;
	}
}
@media all and (max-width: 1000px) {
	#header {
		margin: 0 auto;
		width: 895px;
		height: 194px;
	}
}
@media all and (max-width: 900px) {
	#header {
		width: 777px;
		height: 150px;
	}
	.header-logo__img {
		width: 150px;
		height: auto;
	}
}
@media all and (max-width: 700px) {
	#header {
		width: 670px;
		height: 120px;
	}
	.header-logo__img {
		width: 150px;
		height: auto;
	}
}
@media all and (max-width: 600px) {
	#header {
		width: 557px;
		height: 120px;
	}
	.header__btn {
		top: 20px;
		right: 20px;
		padding: 10px;
		min-width: 100px;
		min-height: 10px;

		color: #fff;
		font-weight: bold;
		font-size: 12px;
	}
}
@media all and (max-width: 500px) {
	#header {
		width: 439px;
		height: 120px;
	}
	.header-logo {
		padding: 15px;
	}
	.header-logo__img {
		width: 150px;
		height: auto;
	}
}
@media all and (max-width: 400px) {
	#header {
		width: 350px;
		height: 100px;
	}
	.header-logo {
		padding: 15px;
	}
	.header-logo__img {
		width: 100px;
		height: auto;
	}
	.header__btn {
		top: 15px;
		right: 15px;
		padding: 10px;
		min-width: 100px;
		min-height: 10px;

		color: #fff;
		font-weight: bold;
		font-size: 11px;
	}
}
@media all and (max-width: 320px) {
	#header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		-ms-flex-align: center;
		width: 309px;
	}
}

#head-kontakt {
	position: absolute;
	margin: 50px 900px;
	width: 250px;

	color: #fff;
	line-height: 20px;
	font-weight: bold;
	font-size: 15px;
}

#head-titel {
	position: absolute;
	display: -webkit-box;
	display: -ms-flexbox;
	display:         flex;
	display: -webkit-flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 16px 22px;

	color: #fff;
	line-height: 30px;
	font-weight: bold;
	font-size: 35px;
	font-family: verdana, arial, helvetica, arial, sans-serif;
}
@media all and (max-width: 320px) {
	#head-titel {
		width: 305px;
	}
}

/*----------------------- Link -----------------------------*/
#header a:focus ,
a:active {
	outline: none;

	color: #fff;
}
#header a ,
#header a:visited {
	text-decoration: none;

	color: #fff;
}
#header a:hover {
	text-decoration: none;

	color: #fff;
}
/* ---------------------- Logo -----------------------------*/
#logo {
	float: left;
	margin-top: 12px;
	margin-left: 16px;
}

/* ---------------------- Menu -----------------------------*/
#menu {
	position: relative;
	margin-top: -22px;
	margin-bottom: 15px;
	width: 1120px;
	height: 57px;
	background: url(img/images/menu-bar.png) repeat-x;
}
@media all and (max-width: 1100px) {
	#menu {
		margin-top: -2px;
		width: 100%;
		height: 57px;
	}
}
@media all and (max-width: 1000px) {
	#menu {
		margin: 0 auto;
		margin-top: -2px;
		margin-bottom: 15px;
		width: 895px;
		height: 57px;
	}
}
@media all and (max-width: 900px) {
	#menu {
		margin-top: -2px;
		width: 777px;
		height: 57px;
		background: url(img/images/menu-bar3.png) no-repeat;
	}
}
@media all and (max-width: 700px) {
	#menu {
		margin-top: -2px;
		width: 670px;
		height: 57px;
		background: url(img/images/menu-bar4.png) no-repeat;
	}
}
@media all and (max-width: 600px) {
	#menu {
		margin: 0 auto;
		width: 557px;
		height: 57px;
		background: url(img/images/menu-bar.png) repeat-x;
	}
}
@media all and (max-width: 500px) {
	#menu {
		margin: 0 auto;
		margin-top: -2px;
		width: 439px;
		height: 57px;
		background: url(img/images/menu-bar5.png) no-repeat ;
	}
}
@media all and (max-width: 400px) {
	#menu {
		margin: 0 auto;
		width: 347px;
	}
}
@media all and (max-width: 320px) {
	#menu {
		width: 306px;
	}
}
/*---------------- menu_content ------------------*/
.menu_content {
	margin: 0 auto;
	width: 100%;
}
@media all and (max-width: 1100px) {
	.menu_content {
		width: 100%;
	}
}
@media all and (max-width: 900px) {
	.menu_content {
		width: 100%;
	}
}
@media all and (max-width: 600px) {
	.menu_content {
		width: 525px;
	}
}
@media all and (max-width: 500px) {
	.menu_content {
		width: 100%;
	}
}
@media all and (max-width: 400px) {
	.menu_content {
		width: 350px;
	}
}
@media all and (max-width: 320px) {
	.menu_content {
		width: 318px;
	}
}

.menu_content ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
	margin: 0;
	padding: 0;
}

.menu_content li {
	margin-top: -7px;
	width: 163px;
	height: 64px;
	outline: none;
	border-radius: 5px;
	border-radius: 5px;
	background: -o-linear-gradient(bottom, rgba(95,173,126,1) 0%, rgba(185,230,210,1) 100%);
	background:    -webkit-gradient(linear, left bottom, left top, from(rgba(95,173,126,1)), to(rgba(185,230,210,1)));
	background:    linear-gradient(0deg, rgba(95,173,126,1) 0%, rgba(185,230,210,1) 100%);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	        box-shadow: 0 2px 3px rgba(0,0,0,.2);
	list-style-type: none;
	text-align: center;
	text-align: center;
	text-decoration: none;

	color: #fff;
	line-height: 70px;
	text-shadow: 0 1px 2px #777;
}

@media all and (max-width: 1100px) {
	.menu_content li {
	}
}
@media all and (max-width: 1000px) {
	.menu_content li {
	}
}
@media all and (max-width: 900px) {
	.menu_content li {
		width: 20%;
		background: none;
		-webkit-box-shadow: none;
		        box-shadow: none;
	}
}
@media all and (max-width: 800px) {
	.menu_content li {
		width: 20%;
	}
}
@media all and (max-width: 700px) {
	.menu_content li {
		width: 20%;
	}
}
@media all and (max-width: 500px) {
	.menu_content li {
		width: 75px !important;
	}
	.menu_content li a {
		font-size: 12px !important;
	}
}
@media all and (max-width: 400px) {
	.menu_content li {
		margin: 0;
		width: 68px !important;

		line-height: 55px;
	}
	.menu_content li a {
		font-size: 11px !important;
	}
}
@media all and (max-width: 320px) {
	.menu_content li {
		margin: 0;
		width: 61px !important;

		line-height: 25px;
	}
}
.menu_content li a {
	text-decoration: none;

	color: #fff;
	font-weight: bold;
	font-size: 17px;
}
@media all and (max-width: 600px) {
	.menu_content li a {
		font-size: 13px;
	}
}

.menu_content  a:link ,
.menu_content  a:visited ,
.menu_content  a:active {
	text-decoration: none;

	color: #fff;
}
.menu_content  a:hover {
	text-decoration: none;

	color: #e6e6e6 !important;
}
@media all and (max-width: 900px) {
	.menu_content a:link ,
	.menu_content a:visited ,
	.menu_content a:active {
		color: #052459;
	}
}

/* -------------------*/

.clear {
	clear: both;
	-webkit-box-flex: 0;
	-ms-flex: none;
	    flex: none;
}

hr {
	margin: 0 auto;
	width: 165px;
	border-width: 1px 0;
	border-color: rgba(0, 0, 0, .1) -moz-use-text-color rgba(255, 255, 255, .3);

	color: white;
}

p {
	padding-right: 3px;
	padding-left: 3px;
}

/* ---------------------- Content -----------------------------*/

#content {
	margin: 0 auto;
	min-height: 500px;
	background-color: #fff;
}
@media all and (max-width: 1100px) {
	#content {
		margin: 0 auto;
		width: 100%;
	}
}

#item_title {
	margin-top: -10px;
	margin-left: 20px;
	text-align: left;

	color: #333;
	line-height: 50px;
	font-size: 20px;
}
@media all and (max-width: 1000px) {
	#item_title {
		margin-left: 70px;
	}
}

.ImageBorder {
	border: 1px solid #ddd;
}

/* ---------------------- Left -----------------------------*/

.left {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	float: left;
	-webkit-box-align: center;
	align-items: left;
	-ms-flex-align: center;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 223px;
	    flex: 0 0 223px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	    flex-direction: column;
}

.left_button {
	margin: 1px;
	width: 207px;
	height: 42px;
	border-radius: 5px;
	background: -o-linear-gradient(bottom, rgba(95,173,126,1) 0%, rgba(185,230,210,1) 100%);
	background:    -webkit-gradient(linear, left bottom, left top, from(rgba(95,173,126,1)), to(rgba(185,230,210,1)));
	background:    linear-gradient(0deg, rgba(95,173,126,1) 0%, rgba(185,230,210,1) 100%);
	-webkit-box-shadow: 2px 2px 3px rgba(0,0,0,.2);
	        box-shadow: 2px 2px 3px rgba(0,0,0,.2);

	text-shadow: 0 1px 2px #777;
}

.left_titel {
	margin: 0;
	padding-left: 11px;
	text-indent: 5px;

	color: #fff;
	line-height: 40px;
	font-weight: bold;
	font-size: 14px;
}

.left_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display:         flex;
	display: -webkit-flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: -2px 5px 16px;
	padding: 3px;
	width: 190px;
	border: 1px solid #d8d8d8;
	border-top: 0;
	border-radius: 0 0 6px 6px;
	background: #fafafa;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);
	        box-shadow: 0 2px 3px rgba(0,0,0,.3);

	color: black;
	line-height: 19px;
	font-size: 13px;
}

.left_content li {
	margin-left: 2px;
	list-style-type: none;

	line-height: 24px;
	font-size: 15px;
}

.left_content ul {
	margin: 0;
	padding: 0;
}
.left_content a {
	margin: 0 auto;
}
.left_content img {
	display: block;
	margin: 9px auto;
}

/* ---------------------- Right -----------------------------*/

.right {
	float: right;
	width: 223px;
}
@media all and (max-width: 1100px) {
	.right {
		display: none;
	}
}
@media all and (max-width: 1000px) {
	.left ,
	.right {
		display: none;
	}
}

.right_button {
	float: right;
	margin: 1px;
	width: 207px;
	height: 42px;
	background: url(img/images/box-button.png) no-repeat;
}

.right_titel {
	margin: 0;
	padding-left: 11px;
	text-indent: 5px;

	color: #fff;
	line-height: 40px;
	font-weight: bold;
	font-size: 14px;
}

.right_content {
	float: right;
	margin: -2px 5px 16px;
	padding: 3px;
	width: 190px;
	border: 1px solid #d8d8d8;
	border-top: 0;
	border-radius: 0 0 6px 6px;
	background: #fafafa;
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.3);
	        box-shadow: 0 2px 3px rgba(0,0,0,.3);

	color: black;
	line-height: 19px;
	font-size: 13px;
	word-wrap: break-word;
}

.right_content li {
	margin-left: 2px;
	list-style-type: none;

	line-height: 24px;
	font-size: 15px;
}

.right_content ul {
	margin: 0;
	padding: 0;
}

.right_content img {
	display: block;
	margin: 9px auto;
}

.right_content a:link ,
a:visited ,
a:active ,
a:hover {
	text-decoration: none;

	color: #fff;
}

/* ---------------------- Category -----------------------------*/

#category ul li {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;

	font-weight: bold;
	font-size: 17px;
}

#category  a:link ,
#category  a:visited ,
#category  a:active {
	text-decoration: none;

	color: #424242 !important;
}
#category  a:hover {
	text-decoration: none;

	color: #666 !important;
}

/* ---------------------- Center -----------------------------*/

.center {
	margin-left: 10px;
}
@media all and (max-width: 1100px) {
	.center {
		width: 100%;
	}
}
@media all and (max-width: 1000px) {
	.center {
		margin: 0 auto;
		padding: 0;
		max-width: 895px;
	}
}
@media all and (max-width: 900px) {
	.center {
		margin: 0 auto;
		padding: 0;
		min-width: 777px;
		max-width: 777px;
	}
}
@media all and (max-width: 700px) {
	.center {
		min-width: 670px;
		max-width: 670px;
	}
}
@media all and (max-width: 600px) {
	.center {
		margin-top: 10px;
		min-width: 557px;
		max-width: 557px;
	}
}
@media all and (max-width: 500px) {
	.center {
		min-width: 439px;
		max-width: 439px;
	}
}
@media all and (max-width: 400px) {
	.center {
		min-width: 350px;
		max-width: 350px;
	}
}
@media all and (max-width: 320px) {
	.center {
		width: 309px;
	}
}
.center_box {
	border-radius: 4px;
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.3);
	        box-shadow: 0 2px 4px rgba(0,0,0,.3);
}
@media all and (max-width: 600px) {
	.center_box {
		width: 100%;
	}
}
@media all and (max-width: 500px) {
	.center_box {
		background: none;
	}
}

.center_titel {
	margin: 0;
	padding-left: 15px;
	height: 44px;
	background: #ebebeb;

	color: #585858;
	line-height: 2.8;
	font-weight: bold;
	font-size: 16px;
}

.center_content {
	margin: 0 auto;
	padding: 10px 30px;
	border-top: 0;
	border-radius: 0 0 4px 4px;
	text-align: left;

	color: black;
	/*line-height: 21px;*/
	/*font-size: 15px;*/
}
.center_content p {
	text-align: left;

	line-height: 2 !important;
	font-weight: bold;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
}
.center_content span {
	color: #f00;
}
@media all and (max-width: 600px) {
	.center_content {
		padding: 10px 10px;
		width: 90%;
	}
	.tab-list {
		margin-left: -20px;
	}
}

.center_content li {
	line-height: 23px;
	font-size: 16px;
}

.center_content img {
	display: block;
	margin: 0 auto;
}

/* ---------------------- Gallery -----------------------------*/

#gallery {
	margin: 0 auto;
}
@media all and (max-width: 700px) {
	#gallery {
	}
}

label.lab {
	display: -webkit-box;
	display: -ms-flexbox;
	display:         flex;
	display: -webkit-flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	height: 100%;
	cursor: pointer;
}

.preview_wrapper {
	position: relative;
	margin: 0 auto;
}

.preview_wrapper img {
	display: block;
	margin: 0 auto;
	max-height: 600px;
	width: auto;
}

.gallery_thumbnail {
	display: -webkit-box;
	display: -ms-flexbox;
	display:         flex;
	display: -webkit-flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	    flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto;
	padding-bottom: 10px;
	max-width: 650px;
}

img.preview1 ,
img.preview2 ,
img.preview3 ,
img.preview4 ,
img.preview5 ,
img.preview6 ,
img.preview7 ,
img.preview8 ,
img.preview9 ,
img.preview10 ,
img.preview11 ,
img.preview12 ,
img.preview13 ,
img.preview14 ,
img.preview15 {
	display: none;
}

@media all and (max-width: 500px) {
	img.preview1 ,
	img.preview2 ,
	img.preview3 ,
	img.preview4 ,
	img.preview5 ,
	img.preview6 ,
	img.preview7 ,
	img.preview8 ,
	img.preview9 ,
	img.preview10 ,
	img.preview11 ,
	img.preview12 ,
	img.preview13 ,
	img.preview14 ,
	img.preview15 {
		height: auto;
	}
}

input.selector1 ,
input.selector2 ,
input.selector3 ,
input.selector4 ,
input.selector5 ,
input.selector6 ,
input.selector7 ,
input.selector8 ,
input.selector9 ,
input.selector10 ,
input.selector11 ,
input.selector12 ,
input.selector13 ,
input.selector14 ,
input.selector15 {
	display: none;
}
input#big_1 ,
input#big_2 ,
input#big_3 ,
input#big_4 ,
input#big_5 ,
input#big_6 ,
input#big_7 ,
input#big_8 ,
input#big_9 ,
input#big_10 {
	display: none;
}

input.selector1:checked ~ .img1 ,
input.selector2:checked ~ .img2 ,
input.selector3:checked ~ .img3 ,
input.selector4:checked ~ .img4 ,
input.selector5:checked ~ .img5 ,
input.selector6:checked ~ .img6 ,
input.selector7:checked ~ .img7 ,
input.selector8:checked ~ .img8 ,
input.selector9:checked ~ .img9 ,
input.selector10:checked ~ .img10 ,
input.selector11:checked ~ .img11 ,
input.selector12:checked ~ .img12 ,
input.selector13:checked ~ .img13 ,
input.selector14:checked ~ .img14 ,
input.selector15:checked ~ .img15 {
	display: -webkit-box;
	display: -ms-flexbox;
	display:         flex;
	display: -webkit-flex;
	-webkit-box-align: center;
	align-items: center;
	-ms-flex-align: center;
}

input.selector1:checked ~ label .img1 img.preview1 ,
input.selector2:checked ~ label .img2 img.preview2 ,
input.selector3:checked ~ label .img3 img.preview3 ,
input.selector4:checked ~ label .img4 img.preview4 ,
input.selector5:checked ~ label .img5 img.preview5 ,
input.selector6:checked ~ label .img6 img.preview6 ,
input.selector7:checked ~ label .img7 img.preview7 ,
input.selector8:checked ~ label .img8 img.preview8 ,
input.selector9:checked ~ label .img9 img.preview9 ,
input.selector10:checked ~ label .img10 img.preview10 ,
input.selector11:checked ~ label .img11 img.preview11 ,
input.selector12:checked ~ label .img12 img.preview12 ,
input.selector13:checked ~ label .img13 img.preview13 ,
input.selector14:checked ~ label .img14 img.preview14 ,
input.selector15:checked ~ label .img15 img.preview15 {
	display: block;
}
@media all and (min-width: 700px) {
	input.selector1:checked ~ label .img1 img.preview1 ,
	input.selector2:checked ~ label .img2 img.preview2 ,
	input.selector3:checked ~ label .img3 img.preview3 ,
	input.selector4:checked ~ label .img4 img.preview4 ,
	input.selector5:checked ~ label .img5 img.preview5 ,
	input.selector6:checked ~ label .img6 img.preview6 ,
	input.selector7:checked ~ label .img7 img.preview7 ,
	input.selector8:checked ~ label .img8 img.preview8 ,
	input.selector9:checked ~ label .img9 img.preview9 ,
	input.selector10:checked ~ label .img10 img.preview10 ,
	input.selector11:checked ~ label .img11 img.preview11 ,
	input.selector12:checked ~ label .img12 img.preview12 ,
	input.selector13:checked ~ label .img13 img.preview13 ,
	input.selector14:checked ~ label .img14 img.preview14 ,
	input.selector15:checked ~ label .img15 img.preview15 {
		cursor: -webkit-zoom-in;
		cursor: zoom-in;
	}
}
.thumbnail_wrapper {
	float: left;
	margin-right: 4px;
	margin-bottom: 5px;
	width: 115px;
	height: 95px;
	border: 1px solid #ddd;
}

.thumbnail_wrapper img {
	display: block;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin: 0 auto;
	max-width: calc(100% - 2px);
	max-height: calc(100% - 2px);
}

@media all and (max-width: 1025px) {
	input.selector1:checked ~ .img1 ,
	input.selector2:checked ~ .img2 ,
	input.selector3:checked ~ .img3 ,
	input.selector4:checked ~ .img4 ,
	input.selector5:checked ~ .img5 ,
	input.selector6:checked ~ .img6 ,
	input.selector7:checked ~ .img7 ,
	input.selector8:checked ~ .img8 ,
	input.selector9:checked ~ .img9 ,
	input.selector10:checked ~ .img10 ,
	input.selector11:checked ~ .img11 ,
	input.selector12:checked ~ .img12 ,
	input.selector13:checked ~ .img13 ,
	input.selector14:checked ~ .img14 ,
	input.selector15:checked ~ .img15 {
		min-height: 350px;
	}
	#gallery {
		min-height: 350px;
	}
}

@media all and (max-width: 700px) {
	#gallery {
		width: 100%;
	}
}

@media all and (max-width: 480px) {
	input.selector1:checked ~ .img1 ,
	input.selector2:checked ~ .img2 ,
	input.selector3:checked ~ .img3 ,
	input.selector4:checked ~ .img4 ,
	input.selector5:checked ~ .img5 ,
	input.selector6:checked ~ .img6 ,
	input.selector7:checked ~ .img7 ,
	input.selector8:checked ~ .img8 ,
	input.selector9:checked ~ .img9 ,
	input.selector10:checked ~ .img10 ,
	input.selector11:checked ~ .img11 ,
	input.selector12:checked ~ .img12 ,
	input.selector13:checked ~ .img13 ,
	input.selector14:checked ~ .img14 ,
	input.selector15:checked ~ .img15 {
	}
	#gallery {
	}
}

/* ---------------------- Dynamic Tabs -----------------------------*/
.tab_container label ,
.tab_container label:after ,
.tab_container label:before {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.tab_container {
	position: relative;
	margin: 0 auto;
	margin-bottom: 20px;
	width: 100%;
}

.tab_container img {
	max-width: 100%;
}

.tab_container input ,
section {
	display: none;
	clear: both;
	padding-top: 10px;
}

.tab_container label {
	display: block;
	float: left;
	padding: 1.1em;
	width: 20%;
	background: #303030;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-transition: .5s all ease;
	     -o-transition: .5s all ease;
	        transition: .5s all ease;

	color: #fff;
	font-weight: 700;
	font-size: 17px;
	text-shadow: 0 1px 2px #777;
}

.tab-list {
	text-align: left;

	line-height: 2 !important;
	font-weight: bold;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
}


#tab1:checked ~ #content1 ,
#tab2:checked ~ #content2 ,
#tab3:checked ~ #content3 ,
#tab4:checked ~ #content4 ,
#tab5:checked ~ #content5 {
	display: block;
	padding: 15px 25px 15px;
	border: 1px solid #d1d1d1;
	border-top: none;
	background: #fff;
	-webkit-box-shadow: 0 0 5px #b9b9b9;
	        box-shadow: 0 0 5px #b9b9b9;
	text-align: center;

	font-weight: bold;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
}

.tab_container [id^='tab']:checked + label {
	background: -o-linear-gradient(bottom, rgba(95,173,126,1) 0%, rgba(185,230,210,1) 100%);
	background:    -webkit-gradient(linear, left bottom, left top, from(rgba(95,173,126,1)), to(rgba(185,230,210,1)));
	background:    linear-gradient(0deg, rgba(95,173,126,1) 0%, rgba(185,230,210,1) 100%);
}


@media all and (max-width: 1200px) {
	.tab_container {
		width: 100%;
	}
}
@media all and (max-width: 1100px) {
	.tab_container {
		width: 100%;
	}
}
@media all and (max-width: 1000px) {
	.tab_container {
		width: 100%;
	}
}
@media all and (max-width: 800px) {
	.tab_container {
		width: 100%;
	}
	.tab_container label {
		font-size: 15px;
	}
}
@media all and (max-width: 700px) {
	.tab_container {
		width: 100%;
	}
	.tab_container label {
		padding: 14px 0 14px 0;
	}
}
@media all and (max-width: 600px) {
	.tab_container {
		width: 100%;
	}
	.tab_container label {
		font-size: 13px;
	}
}
@media all and (max-width: 500px) {
	.tab_container label {
		padding: 16px 0 16px 0;
	}
	.tab_container label {
		font-size: 12px;
	}
}
@media all and (max-width: 320px) {
	.tab_container {
		margin-left: 0;
		width: 100%;
	}
	.tab_container label {
		font-size: 10px;
	}
}

/* ---------------------- Footer -----------------------------*/

#footer {
	margin: 0 auto;
	width: 1120px;
	width: 100%;
	height: 74px;
	border-radius: 5px;
	background: -o-linear-gradient(bottom, rgba(95,173,126,1) 0%, rgba(185,230,210,1) 100%);
	background:    -webkit-gradient(linear, left bottom, left top, from(rgba(95,173,126,1)), to(rgba(185,230,210,1)));
	background:    linear-gradient(0deg, rgba(95,173,126,1) 0%, rgba(185,230,210,1) 100%);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,.2);
	        box-shadow: 0 2px 3px rgba(0,0,0,.2);
}
@media all and (max-width: 1100px) {
	#footer {
		width: 100%;
		height: 74px;
	}
}
@media all and (max-width: 1000px) {
	#footer {
		width: 893px;
		height: 74px;
	}
}
@media all and (max-width: 900px) {
	#footer {
		width: 777px;
		height: 74px;
	}
}
@media all and (max-width: 700px) {
	#footer {
		width: 667px;
		height: 74px;
	}
}
@media all and (max-width: 600px) {
	#footer {
		width: 552px;
		height: 74px;
	}
}
@media all and (max-width: 500px) {
	#footer {
		width: 438px;
		height: 74px;
	}
}
@media all and (max-width: 400px) {
	#footer {
		width: 347px;
	}
}
@media all and (max-width: 320px) {
	#footer {
		width: 306px;
	}
}
.footer_menu {
	margin: 0 auto;
	width: 1010px;
	text-align: center;

	color: #fff;
	line-height: 80px;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 0 1px 2px #777;
}
@media all and (max-width: 1000px) {
	.footer_menu {
		width: 100%;

		font-size: 11px;
	}
}
@media all and (max-width: 320px) {
	.footer_menu {
		width: 310px;

		font-size: 10px;
	}
}

.footer_menu a:link ,
.footer_menu a:visited ,
.footer_menu a:active {
	text-decoration: none;

	color: #fff !important;
}
.footer_menu a:hover {
	text-decoration: none;

	color: #e6e6e6 !important;
}

#copyright {
	margin-top: 10px;
	text-align: center;

	color: #585858;
	font-size: 11px;
}

#copyright a:link ,
#copyright a:visited ,
#copyright a:active {
	text-decoration: none;

	color: #585858 !important;
}
#copyright a:hover {
	text-decoration: none;

	color: #6e6e6e !important;
}
/*-------------------------*/
.img-block__big1 ,
.img-block__big2 ,
.img-block__big3 ,
.img-block__big4 ,
.img-block__big5 ,
.img-block__big6 ,
.img-block__big7 ,
.img-block__big8 ,
.img-block__big9 ,
.img-block__big10 {
	visibility: hidden;
	overflow: hidden;
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 400ms linear;
	-o-transition: opacity 400ms linear;
	transition: opacity 400ms linear;
}
@media all and (orientation: landscape) and (min-width: 700px) {
	#big_1:checked ~ label .img-block__big1 ,
	#big_2:checked ~ label .img-block__big2 ,
	#big_3:checked ~ label .img-block__big3 ,
	#big_4:checked ~ label .img-block__big4 ,
	#big_5:checked ~ label .img-block__big5 ,
	#big_6:checked ~ label .img-block__big6 ,
	#big_7:checked ~ label .img-block__big7 ,
	#big_8:checked ~ label .img-block__big8 ,
	#big_9:checked ~ label .img-block__big9 ,
	#big_10:checked ~ label .img-block__big10 {
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 10;
		visibility: visible;
		/*overflow-y: scroll;*/
		width: auto;
		height: 100%;
		-webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,.4);
		box-shadow: 0px 0px 6px 2px rgba(0,0,0,.4);
		opacity: 1;
		cursor: pointer;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.img__big {
		width: auto;
		height: 100%;
	}
}
@media all and (orientation: portrait) and (min-width: 700px) {
	#big_1:checked ~ label .img-block__big1 ,
	#big_2:checked ~ label .img-block__big2 ,
	#big_3:checked ~ label .img-block__big3 ,
	#big_4:checked ~ label .img-block__big4 ,
	#big_5:checked ~ label .img-block__big5 ,
	#big_6:checked ~ label .img-block__big6 ,
	#big_7:checked ~ label .img-block__big7 ,
	#big_8:checked ~ label .img-block__big8 ,
	#big_9:checked ~ label .img-block__big9 ,
	#big_10:checked ~ label .img-block__big10 {
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 10;
		visibility: visible;
		/*overflow-y: scroll;*/
		width: 100%;
		height: auto;
		-webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,.4);
		box-shadow: 0px 0px 6px 2px rgba(0,0,0,.4);
		opacity: 1;
		cursor: pointer;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
	.img__big {
		width: 100%;
		height: auto;
	}
}
.modal-background1 ,
.modal-background2 ,
.modal-background3 ,
.modal-background4 ,
.modal-background5 ,
.modal-background6 ,
.modal-background7 ,
.modal-background8 ,
.modal-background9 ,
.modal-background10 {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	visibility: hidden;
	width: 0;
	height: 0;
	background-color: rgba(150, 150, 150, .1);
	opacity: 0;
	-webkit-transition: opacity 400ms linear;
	-o-transition: opacity 400ms linear;
	transition: opacity 400ms linear;
}
@media all and (min-width: 700px) {
	#big_1:checked ~ .modal-background1 ,
	#big_2:checked ~ .modal-background2 ,
	#big_3:checked ~ .modal-background3 ,
	#big_4:checked ~ .modal-background4 ,
	#big_5:checked ~ .modal-background5 ,
	#big_6:checked ~ .modal-background6 ,
	#big_7:checked ~ .modal-background7 ,
	#big_8:checked ~ .modal-background8 ,
	#big_9:checked ~ .modal-background9 ,
	#big_10:checked ~ .modal-background10 {
		visibility: visible;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .1);
		opacity: 1;
	}
}
@media all and (min-width: 700px) {
	#big_1:checked ~ #wrapper ,
	#big_2:checked ~ #wrapper ,
	#big_3:checked ~ #wrapper ,
	#big_4:checked ~ #wrapper ,
	#big_5:checked ~ #wrapper ,
	#big_6:checked ~ #wrapper ,
	#big_7:checked ~ #wrapper ,
	#big_8:checked ~ #wrapper ,
	#big_9:checked ~ #wrapper ,
	#big_10:checked ~ #wrapper {
		-webkit-filter: blur(2px);
		    -ms-filter: blur(2px);
		        filter: blur(2px);

		   -moz-filter: blur(2px);
		     -o-filter: blur(2px);
	}
}
